<%- include('header') -%>

<div class="container-left" style="width: 800px;margin-left: 100px;margin-top: 50px;">
    <h2 style="margin-bottom: 10px;">Site Administration</h2>
    <h3 style="background: #6052ff;width: 600px;height: 40px;"><a href="#" style="color: var(--white);">APP</a></h3>
    <div class="table-responsive" style="margin-bottom: 100px;width: 600px;">
        <table class="table">
            <thead>
                <tr></tr>
            </thead>
            <tbody>
                <tr>
                    <td style="width: 100px;"><a style="font-size: 20px;" href="/ushome"><strong>Clients</strong></a></td>
                    <td style="width: 100px;"><a href="/register" style="font-size: 20px;"><i class="material-icons">add</i>Ajouter</a></td>
                    <td style="width: 100px;"><a href="/ushome" style="font-size: 20px;"><i class="material-icons">edit</i>Modifier</a></td>
                </tr>
                <tr></tr>
            </tbody>
        </table>
    </div>
    <h3 style="background: #6052ff;width: 600px;height: 40px;"><a href="#" style="color: var(--white);">AUTHENTICATION</a></h3>
    <div class="table-responsive" style="width: 600px;">
        <table class="table">
            <thead>
                <tr></tr>
            </thead>
            <tbody>
                <tr>
                    <td style="width: 100px;"><a href="/adhome" style="font-size: 20px;"><strong>Users</strong></a></td>
                    <td style="width: 100px;"><a href="/register-admin" style="font-size: 20px;"><i class="material-icons">add</i>Ajouter</a></td>
                    <td style="width: 100px;"><a href="/adhome" style="font-size: 20px;"><i class="material-icons">mode_edit</i>Modifier</a></td>
                </tr>
                <tr></tr>
            </tbody>
        </table>
    </div>
</div>



<%- include('footer') -%>