<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>home</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/fonts/material-icons.min.css">
    <link rel="stylesheet" href="/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="/css/Navigation-Clean.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <section class="login-clean">
        <form method="post" style="margin-top: 20px;">
            <h2 class="sr-only">Login Form</h2>
            <h5 style="font-family: 'Abril Fatface', cursive;">Mascom Administration</h5>
            <div class="illustration"><i class="fas fa-users" style="border-color: #6052ff;border-top-color: rgb(244,;border-right-color: 71,;border-bottom-color: 107);border-left-color: 71,;color: #6052ff;"></i></div>
            <div class="form-group"><input class="form-control" type="text" name="username" placeholder="Username"></div>
            <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"></div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit" style="background: #6052ff;">Log In</button></div><a class="forgot" href="#">You don't have account ? contact your admin</a>
        </form>
    </section>
    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>